{% include "header.html" %}
<style>
  body {
    background-color: gray;
  }
</style>
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/assets/img/brooke-lark-oaz0raysASk-unsplash.jpeg')">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="site-heading">
                  <h2>Number of Meals Available</h2>
              </div>
          </div>
      </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Meals</h1>

	  <table class="table">

        <ul>

            <li>Number of Menus Created: {{num_menus}}<br>
                <br>
        </ul>
        <ul>

          <li>Number of Meals Available: {{num_meals}}<br>
              <br>
      </ul>
      <img src="data:image/png;base64, {{ meals_available }}"><br>
      <br>
      <img src="data:image/png;base64, {{ most_pop_img }}"><br>
      <br>
      <img src="data:image/png;base64, {{ types_img }}"><br>
        <p><a href="{{ url_for('core.index') }}">Return to homepage</a></p>
  
    </div>
  </div>
</div>
