{% include "header.html" %}
<style>
  body {
    background-color: gray;
  }
</style>
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/assets/img/brooke-lark-oaz0raysASk-unsplash.jpeg')">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="site-heading">
                  <h2>Why Sign Up?</h2>
              </div>
          </div>
      </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>Custom Menu</h1>

	  <table class="table">

        <p>We realize that not everyone has the same diet. We have a custom
          meal generator that allows you to choose according to your diet.
        </p>
        <img src="static/assets/img/custom.png" height="533px" width="1143px"><br>
        <p>In order to use this funcationality you must sign up and choose Build New Menu.
          Menu-Time will retain your selections until you make a new selection. 
        </p>
        <p><a href="{{ url_for('core.index') }}">Return to homepage</a></p>
  
    </div>
  </div>
</div>
