{% include "header.html" %}
<style>
  body {
    background-color: gray;
  }
</style>




{% block content %}

<body>
     <form action="{{ url_for('meal.edit') }}" method="POST">
        <p>Meal Name: {{meal.name}}</p>
         <input hidden="hidden" name="id" value="{{meal.id}}">
        <input name="name" type="text" placeholder="{{meal.name}}"><br>
        <input name="category" type="text" placeholder="{{meal.category}}"><br>
        <input name="ingredients" type="text" placeholder="{{meal.ingredients}}"><br>
        <input name="link" type="text" placeholder="New Meal Link"><br>
        <input name="servings" type="text" placeholder="New Servings"><br>
        <input name="image_url" type="text" placeholder="New image url"><br>
        <button class="btn btn-warning btn-lg" type="submit">Update Meal</button>
    </form>

    <p><a href="{{ url_for('core.index') }}">Return to homepage</a></p>
</body>

{% endblock %}