{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}


<title>Menu-Time Custom Weekly Menu</title>
<!-- Page Header-->
<body>
    <header class="masthead" style="background-image: url('{{meal.image_url}}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h2>{{meal.name}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <table class="table">
        <tr>
            <th>Full Recipe & Instructions</th>
            <th>Description</th>
            <th></th>
        </tr>
        <tr>
            <td><a href="{{meal.link}}" target="_blank">{{meal.link}}</a></td>
            <td>{{meal.description}}</td>
        </tr>
    </table>

    <h2>Shopping List</h2>
<table class="table">
    <tr>
        <th>Produce</th>
        <th>Refrigerator/Protein</th>
        <th>Packaged Goods</th>
        <th>Other</th>
    </tr>
    <tr>
        <td><input type='checkbox'>{{ shopping_list.produce_list | replace(", ", "<br><input type='checkbox'>") | safe }}</td>
        <td><input type='checkbox'>{{shopping_list.protein_list | replace(", ", "<br><input type='checkbox'>") | safe }}<br>
            <input type='checkbox'>{{shopping_list.refrigerator_list | replace(", ", "<br><input type='checkbox'>") | safe }}</td>
        <td><input type='checkbox'>{{shopping_list.dressing_list | replace(", ", "<br><input type='checkbox'>") | safe }}<br>
        <input type='checkbox'>{{shopping_list.dry_goods_list | replace(", ", "<br><input type='checkbox'>") | safe }}<br>
        <input type='checkbox'>{{shopping_list.spices_list | replace(", ", "<br><input type='checkbox'>") | safe }}</td>
        <td><input type='checkbox'>{{shopping_list.other_list | replace(", ", "<br><input type='checkbox'>") | safe }}</td>
    </tr>
</table>

</body>
<hr>
{% include "footer.html" %}