{% include "header.html" %}
<style>
    td { font-size: 13px }
</style>

{% block content %}
<title>Menu-Time Custom Weekly Menu</title>
<!-- Page Header-->
<body>
    <header class="masthead" style="background-image: url('static/assets/img/brooke-lark-oaz0raysASk-unsplash.jpeg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h2>Welcome to your custom menu</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <h1>Meals</h1>
    <table class="table">
        <tr>
            <th>Meal Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        {% for n in range(meals.names| length) %}
        <tr>
            <td><a href="{{meals.links[n]}}" target="_blank">{{meals.names[n]}}</a></td>
            <td>{{meals.description[n]}}</td>
            <td><img src="{{meals.image_url[n]}}" alt="" boarder=1 height=120 width=120></img></td>
        </tr>
        {% endfor %}
    </table>


    <h2>Shopping List</h2>
    <table class="table">
        <tr>
            <th>Produce</th>
            <th>Protein</th>
            <th>Refrigerator</th>
            <th>Frozen</th>
        </tr>
        <tr>
            <td>{{shopping_list.produce_list}}</td>
            <td>{{shopping_list.protein_list}}</td>
            <td>{{shopping_list.refrigerator_list}}</td>
            <td>{{shopping_list.frozen_list}}</td>
        </tr>
        <tr>
            <th>Dressing</th>
            <th>Dry Goods</th>
            <th>Spices</th>
            <th>Other</th>
        </tr>
        <tr>
            <td>{{shopping_list.dressing_list}}</td>
            <td>{{shopping_list.dry_goods_list}}</td>
            <td>{{shopping_list.spices_list}}</td>
            <td>{{shopping_list.other_list}}</td>
        </tr>
    </table>

    <p><a href="{{ url_for('generator.selections') }}">Return to selections page</a></p>
    <p><a href="{{ url_for('core.index') }}">Return to homepage</a></p>
</body>

{% endblock %}